<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8"/>
    <title>Good Thymes Virtual Grocery</title>
  </head>

  <body>
    <form th:action="@{/accounts/_newUser}" method="post" th:object="${registerUserAccountForm}">
      <ul th:if="${#fields.hasGlobalErrors()}">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>
      <div>
        <label for="input-accountName">Account name</label>
        <input type="text" id="input-accountName" th:field="*{accountName}"/>
        <span th:if="${#fields.hasErrors('accountName')}" th:errors="*{accountName}">Error</span>
      </div>
      <div>
        <label for="input-password">Password</label>
        <input type="password" id="input-password" th:field="*{password}"/>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
      </div>
      <div>
        <label for="input-passwordConfirmation">Password confirmation</label>
        <input type="password" id="input-passwordConfirmation" th:field="*{passwordConfirmation}"/>
        <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Error</span>
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </body>

</html>